/* Normalize CSS Import */
@import url("normalize.css");

/* #Classes */
.fll {
    float: left;
}

.flr {
    float: right;
}

/* #Typography */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

body {
    background: url(img/body-bg.jpg) repeat;
    color: #534c38;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    min-width: 1300px;
}

h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #473a15;
    margin: 0 0 20px 0;
}

address {
    font-style: normal;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* #CSS Sprite */
[class*="sprite-"] {
    display: inline-block;
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
}

.sprite-left-arrow {
    background-position: 0 0;
    height: 42px;
    width: 25px;
}

.sprite-right-arrow {
    background-position: -25px 0;
    height: 42px;
    width: 25px;
}

.sprite-geodesy {
    background-position: -50px 0;
    height: 53px;
    width: 56px;
}

.sprite-surveying {
    background-position: -106px 0;
    height: 53px;
    width: 42px;
}

.sprite-land-marking {
    background-position: -148px 0;
    height: 53px;
    width: 64px;
}

.sprite-handshake {
    background-position: -240px 0;
    height: 60px;
    width: 58px;
}

.sprite-to-top-arrow {
    background-position: 0 -45px;
    width: 30px;
    height: 15px;
}

/* #Common elements */

    /* ##Anchor functionality
    /* avoids header from covering heading when clicking on the anchor */
    .anchored {
        position: relative;
    }

    .anchor {
        position: absolute;
        height: 95px;
        top: -95px;
        visibility: hidden;
    }

    .note {
        font-style: italic;
    }

    /* ##Blocks' styles */
    .section-header {
        border-bottom: 1px dashed #736357;
        padding: 13px 0;
        color: #95782d;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 25px 0;
    }

    .block-header {
        color: #f9e09e;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .intro {
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        margin: 0 0 15px 0;
    }

    .section-emphesized {
        background: url(img/dark-bg.jpg);
        color: #fff;
    }

    .section-emphesized .section-header {
        color: #c7a457;
        border-bottom-color: #c7a457;
    }

    /* ##Table */
    .table th {
        font-weight: 600;
        text-align: left;
        border-bottom: 1px solid #dfd9cf;
        padding: 11px 10px;
    }

    .table td {
        padding: 13px 10px;
    }

    .table tr:nth-child(odd) td {
        background: #f2ebe1;
    }

    .table tr:last-child td {
        border-bottom: 1px solid #dfd9cf
    }

    .table + .note {
        margin-left: 10px;
    }

    .pricing-table th:last-child,
    .pricing-table td:last-child {
        font-size: 18px;
        font-weight: 600;
    }

    .pricing-table th:first-child,
    .pricing-table td:first-child {
        font-size: 16px;
        font-weight: 400;
    }

    /* ##Forms */
    input[type="text"], input[type="email"], textarea {
        border: none;
        background: #7f6c42;
        padding: 10px 12px;
        font-size: 12px;
        margin-bottom: 19px;
    }

    textarea {
        resize: none;
    }

    ::-webkit-input-placeholder {
       color: #b1965c;
    }

    :-moz-placeholder {
       color: #b1965c;  
    }

    ::-moz-placeholder { 
       color: #b1965c;  
    }

    :-ms-input-placeholder {  
       color: #b1965c;  
    }

    input[type="submit"] {
        background: #b1965c;
        color: #ffffff;
        font-weight: 400;
        border: none;
        font-size: 15px;
        padding: 12px 30px;
    }

/* #Layout */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.container {
    width: 1200px;
    margin: 0 auto;
}

    /* ##Header */
    .main-header {
        background: #473a2d;
        height: 95px;
        padding: 25px 0 0 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .main-header .container {
        position: relative;
    }

    .to-top-button {
        background: rgba(191,179,153,0.54);
        display: block;
        position: fixed;
        bottom: 150px;
        border: 2px solid #fff;
        margin-left: 1300px;
        height: 55px;
        width: 55px;
        cursor: pointer;
    }

    .to-top-button .sprite-to-top-arrow {
        margin: 18px 0 0 10px;
        cursor: pointer;
    }

        /* ###Header Navigation */
                

        .main-nav a {
            display: inline-block;
            color: #fff;
            padding: 12px 15px;
            text-decoration: none;
            font-size: 15px;
        }

        .main-nav a:hover {
            background: #5b4d3b ;
        }

        .language-nav {
            border-left: 1px solid #fff;
            margin: -10px 0 0 20px;
            height: 61px;
            padding: 19px 0 0 34px;
        }

        .language-nav a {
            font-size: 13px;
            padding: 0;
            margin-right: 8px;
        }

        .language-nav a:last-child {
            margin-right: 0;
        }

        .language-nav a:hover {
            background: none;
            color: #f9e09e;
        }

    /* ##Grid */
    .col-2, .col-3 {
        float: left;
    }
 
    .col-2 {
        width: 50%;
        padding: 0 20px;
    }

    .col-3 {
        width: 33.33333333%;
        padding: 0 20px;
    }

    .row {
        margin: 0 -20px;
    }

    .row:after, .row:before {
        display: table;
        content: " "
    }

    .row:after {
        clear: both;
    }

    /* ##Sections */
    .site-section {
        padding: 10px 0 35px 0;
    }

/* #Sections */

    /* ##Slideshow */
    .slideshow {
        margin-top: 95px;
        height: 594px;
        overflow: hidden;
        position: relative;
    }

    .slideshow .slide {
        min-width: 1200px;
        width: 100%;
        display: none;
    }

    .slideshow .slide.active {
        display: block;
    }
    
    .slideshow .slideshow-inner {
        position: absolute;
        height: 600px;
        width: 1200px;
        left: 50%;
        margin-left: -600px;
    }

    .slideshow .arrow {
        position: absolute;
        top: 285px;
    }

    .slideshow .arrow-left {
        left: 0;
    }

    .slideshow .arrow-right {
        right: 0;
    }
    
    .slideshow .site-intro {
        width: 1200px;
        margin: 0 auto;
        position: absolute;
        top: 254px;
        left: 83px;
    }

    .slideshow .site-intro h1 {
        background: rgba(0,0,0,0.4);
        color: #fff;
        float: left;
        font-size: 44px;
        line-height: 60px;
        font-weight: 400;
        padding: 6px 20px;
        margin: 0 0 20px 0;
    }

    .slideshow .site-intro p {
        background: rgba(0,0,0,0.4);
        color: #fff;
        float: left;
        clear: left;
        font-size: 24px;
        line-height: 36px;
        padding: 12px 20px;
        margin: 0;
    }

    .pager {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 20px;
        margin: 0;
        padding: 0;
        font-size: 0;
        line-height: 0;
    }

    .pager li {
        display: inline-block;
        border-radius: 50%;
        background: rgba(206,187,137,0.5);
        width: 14px;
        height: 14px;
        padding: 2px;
        box-shadow: -1px 1px 1px 0px rgba(15, 15, 15, 0.09);
        margin-right: 10px; 
    }

    .pager li a {
        text-indent: -9999px;
        display: block;
        background: #transparent;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .pager .active a {
        background: rgba(255,255,255,0.4);
    }

    /* ##Services */
    .services {
        background: url(img/services-bg.png) no-repeat 50% 112px;
    }

    .divided-list {
        list-style-type: none;
        font-size: 16px;
        font-weight: 300;
        padding: 0;
    }

    .divided-list li:after {
        width: 55px;
        height: 1px;
        background: rgba(0,0,0,0.2);
        display: block;
        content: "";
        margin: 10px 0;
    }

    .divided-list li:last-child:after {
        display: none;
    }

    .services .col-text {
        margin-left: 80px;
    }

    .services .section-header {
        margin-bottom: 52px;
    }

    /* ##Prices */
    .prices .table td {
        font-size: 14px;
    }

    /* ##About Us */
    .profile {
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
    }
    
    .profile hr {
        border: 0;
        border-top: 1px solid #8d7b66;
        opacity: 0.4;
        width: 336px;
    }

    .profile-intro {
        text-align: center;
    }

    .profile-intro h2 {
        text-transform: none;
        font-weight: 300;
        color: #c7a457;
        font-size: 36px;
    }

    .profile-contact a {
        color: #c7a457;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
    }

    .sertificates {
        background: #624e36;
        padding: 20px 55px;
        text-align: center;
    }

    .sertificates li {
        color: #eadfcd;
        font-size: 13px;
        line-height: 18px;
        list-style-type: none;
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        text-align:left;
    }

    .sertificates li:before {
        content: '';
        background: url(img/sprite.png);
        background-position: -212px 0;
        display: inline-block;
        width: 28px;
        height: 40px;
        vertical-align: middle;
        margin: 7px 15px 0 0;
    }

    .sertificates .sertificate-title {
        display:inline-block;
        vertical-align: middle;
        max-width: 190px;
    }

    /* ##Clients */
    .logo-container {
        text-align: justify;
        font-size: 0;
        margin: -20px -40px -21px;
    }

    .logo-container:after {
        content: '';
        width: 250px;
        height: 1px;
        display:inline-block;
    }

    .logo-container .client-logo {
        display: inline-block;
        padding: 20px 40px;
        vertical-align: middle;
    }

    /* ##Contacts */
    .map-container {
        border: 7px solid #97804e;
        height: 294px;
        width: 372px;
        margin-bottom: 20px;
    }

    .contact-details {
        text-align: center;
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
        color: #c7a457;
    }

    .contact-details a {
        color: #c7a457;
        text-decoration: none;
    }

    .contact-details .sprite-handshake {
        margin-bottom: 10px;
    }

    .contact-details .phone,
    .contact-details .phone a{
        color: #eacc8b;
        text-decoration: none;
    }

    .contact-form textarea {
        width: 100%;
        height: 145px;
    }

    .personal-details input {
        width: 177px;
    }

    .personal-details input:first-child {
        margin-right: 19px;
    }

    /* Pixel perfect test */
    .ppt {
        position: absolute;
        top:0;
        left:50%;
        width:1200px;
        height:4035px;
        background:url(img/mernieks.jpg) no-repeat top left;
        z-index: 1000;
        opacity: 0.5;
        margin-left: -600px;
        cursor: pointer;
    }

    .ppt.hidden {
        display:none;
    }

    .ppt-button {
        height: 50px;
        width: 50px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        cursor: pointer;
    }